{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage - Start Bootstrap Template</title>
  <link rel="stylesheet" type="text/css" href="{% static 'todo_app/style.css' %}">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
</head>
<body>
  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Deadline is coming!</h3>
      </div>

      {% for tab in table_remind_list %}
      <div class="card bg-transparent my-0 border-bottom-0 rounded-0">
        <div class="card-body p-0">
          <div class="card-header">
            <h5 class="m-0"><a href="{% url 'table' tab.id %}" class="text-white">{{ tab.name }}</a></h5>
          </div>
          <ul class="list-group list-group-flush py-2">
            {% for task in task_remind_list %}
            {% if task.column.table == tab and task.is_near_to_deadline %}
            <li class="mx-auto">{{ task.name }}<br/>{{ task.deadline }}</li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </nav>
    <!-- Sidebar's end  -->


    <!-- Page Content  -->
    <div id="content" class="p-0">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Reminders</span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              {% if user.is_authenticated %}
              <li class="nav-item active">
                <p class="nav-link m-0">Logged in as <strong>{{ user.username }}</strong></p>
              </li>
              <li class="nav-item active">
                <a class="btn btn-info" href="{% url 'logout' %}">Log out</a>
              </li>
              {% else %}
              <li class="nav-item active">
                  <a class="btn btn-info" href="{% url 'login' %}">Log in</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      {% block content %}{% endblock %}
    </div>
  </div>


  <!-- jQuery CDN - Slim version (=without AJAX) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <!-- jQuery Custom Scroller CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

  {% block extras %}{% endblock %}

  <script type="text/javascript">
    $(document).ready(function () {

      $("#sidebar").mCustomScrollbar({
         theme: "minimal"
      });
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar, #content').toggleClass('active');
      });
    });
  </script>

</body>

</html>
