<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage - Start Bootstrap Template</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="padding-top: 56px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <h1 class="my-4">Nasze TO-DO</h1>
      </div>
      <div class="col-lg-9">
        <div class="row">
          {% for col in column_list %}
          <div class="card mx-2">
            <div class="card-header">
              {{ col.name }}
            </div>
            <div class="card-body text-center p-2">
              {% for task in col.task_set.all %}
              <div class="card text-left {% if forloop.last %}mb-0{% else %}mb-2{% endif %}">
                <div class="card-body">
                  <h5 class="card-title">{{ task.name }}</h5>
                  <h6 class="card-subtitle mb-2 {% if task.is_near_to_deadline %}text-danger{% else %}text-muted{% endif %}">Deadline: {{ task.deadline }}</h6>
                  <p class="card-text">{{ task.description }}</p>
                  <a href="#" class="card-link">Edit</a>
                  {% if not forloop.parentloop.first %}<a href="#" class="card-link ml-2">Move left</a>{% endif %}
                  {% if not forloop.parentloop.last %}<a href="#" class="card-link ml-2">Move right</a>{% endif %}
                </div>
              </div>
              {% endfor %}
              <a href="#" class="btn btn-primary mx-auto mt-2">New task</a>
            </div>
          </div>
          {% endfor %}
          <div>
            <a href="#" class="btn btn-primary">New column</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

</body>

</html>
